<%= form_for AreaSelectCn::Company.new, :url => "", :builder => AreaSelectCn::Helpers::FormBuilder do |f| %>
  <%= f.district_select_ul :region_code %>
<% end %>

<%= simple_form_for AreaSelectCn::Company.new, :url => "", :html => {:class => 'form-horizontal'} do |f| %>
  <%= f.input :region_code, :as => :area_select, :prompt_class => "btn btn-success" %>
  <div class="form-actions">
    <%= f.submit "提交", :class => "btn" %>
  </div>
<% end %>

<%= form_tag "" do %>
  <%= area_select_ul(:company, :region_code, "331000", :theme => :bootstrap, :prompt_class => "btn btn-danger") %>
<% end %>

