%div{:class=>"theme-#{theme}"}
  .area-select-cn.clearfix
    = f.hidden_field attr, :class => "select-value"
    /%dt= f.label attr
    .select-input.province.btn-group
      = link_to "javascript:void(0);",:class=>"select-prompt #{btn_class} dropdown-toggle" do
        - if selected_province
          %span.select-content{:data => {:value => selected_province[1]}} 
            = selected_province[0] 
        - else
          %span.select-content
            = "省 份" 
        %span.caret
      %ul{:class => "select-opts dropdown-menu"}
        %li
          = link_to "省 份",
            "javascript:void(0);", 
            :data => {:value => ""}, 
            :class => selected(selected_province,nil, 'actived')

        - selected_provinces.map do |province|
          %li 
            = link_to  province[0], 
            "javascript:void(0);", 
            :data => {:value => province[1]}, 
            :class => selected(province[1], selected_province && selected_province[1], 
            'actived')
    
    .select-input.city.btn-group
      = link_to "javascript:void(0);",:class=>"select-prompt #{btn_class} dropdown-toggle" do
        - if selected_city
          %span.select-content{:data => {:value => selected_city[1]}}
            = selected_city[0] 
        - else
          %span.select-content
            = "城 市" 
        %span.caret
      %ul{:class => "select-opts dropdown-menu"}
        %li
          = link_to "城 市", 
            "javascript:void(0);", 
            :data => {:value => ""}, 
            :class => selected(selected_city,nil, 'actived')
        - selected_cities.each do |city|
          %li
            = link_to city[0], 
            "javascript:void(0);", 
            :data => {:value => city[1]}, 
            :class => selected(city[0], selected_city && selected_city[0], 
            'actived')
  
    %dd.select-input.district.btn-group
      = link_to "javascript:void(0);",:class=>"select-prompt #{btn_class} dropdown-toggle" do
        - if selected_district
          %span.select-content{:data => {:value => selected_district[1]}}
            = selected_district[0] 
        - else
          %span.select-content
            = "区 县" 
        %span.caret
      %ul{:class => "select-opts dropdown-menu"}
        %li
          = link_to "区 县", 
            "javascript:void(0);", 
            :data => {:value => ""}, 
            :class => selected(selected_district,nil, 'actived')
        - selected_districts.each do |district|
          %li
            = link_to district[0], 
            "javascript:void(0);", 
            :data => {:value => district[1]}, 
            :class => selected(district[1], selected_district && selected_district[1], 
            'actived')

:javascript
  jQuery.District(".area-select-cn",{
    onChange: function(code){
      $(".area-select-cn .select-value").val(code);
    }
  })

