<div class="span7 alert">
<%= form_for @company,:builder => AreaSelectCn::Helpers::FormBuilder,:html => { :class => 'form-horizontal' } do |f| %>
  <legend>form_for</legend>
  <%= f.district_select_ul :region_code%>
  <div class="form-actions">
    <%= f.submit "提交",:class=>"btn btn-success"%>
  </div>
<%end%>

<%= simple_form_for @company,:html => { :class => 'form-horizontal' } do |f|%>
  <legend>simple_form_for</legend>
  <%= f.input :region_code,:as => :district_select_ul, :prompt_class=>"btn btn-success"%>
  <div class="form-actions">
    <%= f.submit "提交",:class=>"btn btn-success"%>
  </div>
<%end%>

<%= form_tag "",:class => 'form-horizontal'  do %>
  <legend>form_tag</legend>
  <%= district_select_ul(:company,:region_code,"331000",:theme=>:bootstrap,:prompt_class=>"btn btn-danger") %>
  <div class="form-actions">
    <%= submit_tag "提交",:class=>"btn btn-success"%>
  </div>
<%end%>
</div>

<div class="span5">
<div id="e1" data-value="331002">
</div>

<script>
  $(document).ready(function() { 
    function format(item) { return item.text; };

    $("#e1").select2({
      minimumInputLength: 2,
      ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
        url: "http://localhost:9292/area_select_cn/district/search",
        dataType: 'json',
        data: function (term, page) {
          return {
            region_name: term, // search term
            //page_limit: 10,
            //apikey: "ju6z9mjyajq2djue3gbvv26t" // please do not use so this example keeps working
          };
        },
        results: function (data, page) { // parse the results into the format expected by Select2.
          console.log(data)
          // since we are using custom formatting functions we do not need to alter remote JSON data
          return {results: data};
        }
      },
      initSelection: function(element, callback) {
        // the input tag has a value attribute preloaded that points to a preselected movie's id
        // this function resolves that id attribute to an object that select2 can render
        // using its formatResult renderer - that way the movie name is shown preselected
        var region_code=$(element).attr('data-value');
        console.log(region_code)
        if (region_code!=="") {
          $.ajax("http://localhost:9292/area_select_cn/district?region_code="+region_code, {
            data: {},
            dataType: "json"
          }).done(function(data) { callback(data); });
        }
      },
      formatResult: format, // omitted for brevity, see the source of this page
      formatSelection: format,  // omitted for brevity, see the source of this page
      dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
      escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
    });
  });
</script>
</div>
